#graella {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas: 
    "a a b"
    "c d d"
    "e e e";
}

 /* info1*/
#info1 {
    grid-area: a;
}

#graella .info {
    background-color: rgb(232, 192, 245);
    border: 2px solid black;

}

#info1 p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 /* info2   */
#infoH2 {
    grid-area: b;
    font-family: 'Courier New', Courier, monospace;
    text-align: center; 
}

.alinearElParrafo{
    text-align: center;
}

#graella #info2 {
    background-color: lightcoral;
    color: blue;
}

#graella .pintaH2 {
    background-color: rgb(185, 243, 245);
}

#info2 h2:hover {
    color:  red;
    background-color: lightgoldenrodyellow;
    font-family: italic;
}

#info2 p:hover {
    color: darkblue;
    background-color: lightgray;
    font-family: cursive;
}

 /* info3*/
#info3 {
    grid-area: c;
    text-decoration: underline;
}

 /* info4*/
#info4 {
    grid-area: d;
}
#info4 ::first-letter {
    font-size: 50px;
    font-weight: bold;
    color: #8A2BE2;
}

.cambiarFont {
    font-size: 40px;
}

.modificarFontP {
    font: 20px bold;
}

 /* info5*/
#info5 {
    grid-area: e;
    letter-spacing: 10px;
    text-align: center;
}